## 실습 데이터 다운로드

- [전국 신규 민간아파트 분양가격 동향](https://www.data.go.kr/data/15061057/fileData.do)
- [공공와이파이 DB 다운로드](https://www.wififree.kr/pu/oa/L01.do)

실습 파일 다운로드를 위한 코드

In [ ]:
import urllib.request
import zipfile

def unzip(source_file, dest_path):
    with zipfile.ZipFile(source_file, 'r') as zf:
        zipInfo = zf.infolist()
        for member in zipInfo:
            try:
                member.filename = member.filename.encode('cp437').decode('euc-kr', 'ignore')
                zf.extract(member, dest_path)
            except:
                print(source_file)
                raise Exception('unzipping error')

url = 'https://www.dropbox.com/s/gsw04r6eigi1pc7/pandas-data.zip?dl=1'

filename = 'pandas-data.zip'
target_foler = 'data'
urllib.request.urlretrieve(url, filename)
unzip(filename, target_foler)

# pandas 모듈 import

In [ ]:
import pandas as pd
import numpy as np
import warnings

# 소수점 포맷팅
pd.options.display.float_format = '{:.1f}'.format

warnings.filterwarnings('ignore')

## 파일 불러오기

- DataFrame

### Excel파일 불러오기

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>번호</th>
      <th>시도</th>
      <th>시군구</th>
      <th>상세주소</th>
      <th>ap명</th>
      <th>위도</th>
      <th>경도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>강원도</td>
      <td>강릉시</td>
      <td>NaN</td>
      <td>3.1만세운동기념탑_01 30도 관리번호:6</td>
      <td>37.8</td>
      <td>128.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>강원도</td>
      <td>강릉시</td>
      <td>NaN</td>
      <td>3.1만세운동기념탑_02 30도 관리번호:6</td>
      <td>37.8</td>
      <td>128.9</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>강원도</td>
      <td>강릉시</td>
      <td>NaN</td>
      <td>3.1만세운동기념탑_03 30도 관리번호:6</td>
      <td>37.8</td>
      <td>128.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>강원도</td>
      <td>강릉시</td>
      <td>강원도 강릉시 교동 1752</td>
      <td>35호공원_#1</td>
      <td>37.8</td>
      <td>128.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>강원도</td>
      <td>강릉시</td>
      <td>강원도 강릉시 교동 1752</td>
      <td>35호공원_#2</td>
      <td>37.8</td>
      <td>128.9</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>67428</th>
      <td>67429</td>
      <td>충청북도</td>
      <td>충주시</td>
      <td>NaN</td>
      <td>한사랑 어린이집앞 공원 산책로 가로등 폴대</td>
      <td>37.0</td>
      <td>127.9</td>
    </tr>
    <tr>
      <th>67429</th>
      <td>67430</td>
      <td>충청북도</td>
      <td>충주시</td>
      <td>NaN</td>
      <td>호암동 반려동물 공원 cctv폴</td>
      <td>37.0</td>
      <td>127.9</td>
    </tr>
    <tr>
      <th>67430</th>
      <td>67431</td>
      <td>충청북도</td>
      <td>충주시</td>
      <td>NaN</td>
      <td>호암동 산 73-21 호암지 야외 공연장</td>
      <td>37.0</td>
      <td>127.9</td>
    </tr>
    <tr>
      <th>67431</th>
      <td>67432</td>
      <td>충청북도</td>
      <td>충주시</td>
      <td>충청북도 충주시 호암중앙1로 35</td>
      <td>호암직동행정복지센터_1F_민원실벽면</td>
      <td>37.0</td>
      <td>127.9</td>
    </tr>
    <tr>
      <th>67432</th>
      <td>67433</td>
      <td>충청북도</td>
      <td>충주시</td>
      <td>충청북도 충주시 호암중앙1로 35</td>
      <td>호암직동행정복지센터_주민자치프로그램실</td>
      <td>37.0</td>
      <td>127.9</td>
    </tr>
  </tbody>
</table>
<p>67433 rows × 7 columns</p>
</div>

### csv파일을 불러오기

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가격(제곱미터)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
      <td>5841.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>서울</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5652.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5882.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>서울</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5721.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>5879.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>6285</th>
      <td>제주</td>
      <td>모든면적</td>
      <td>2021</td>
      <td>11</td>
      <td>6860.0</td>
    </tr>
    <tr>
      <th>6286</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6287</th>
      <td>제주</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>6787.0</td>
    </tr>
    <tr>
      <th>6288</th>
      <td>제주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>5924.0</td>
    </tr>
    <tr>
      <th>6289</th>
      <td>제주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>6815.0</td>
    </tr>
  </tbody>
</table>
<p>6290 rows × 5 columns</p>
</div>

## 정보 조회

상위 5개 행 조회

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가격(제곱미터)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
      <td>5841.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>서울</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5652.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5882.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>서울</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5721.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>5879.0</td>
    </tr>
  </tbody>
</table>
</div>

하위 5개 행 조회

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가격(제곱미터)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6285</th>
      <td>제주</td>
      <td>모든면적</td>
      <td>2021</td>
      <td>11</td>
      <td>6860.0</td>
    </tr>
    <tr>
      <th>6286</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6287</th>
      <td>제주</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>6787.0</td>
    </tr>
    <tr>
      <th>6288</th>
      <td>제주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>5924.0</td>
    </tr>
    <tr>
      <th>6289</th>
      <td>제주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>6815.0</td>
    </tr>
  </tbody>
</table>
</div>

### 컬럼 조회

- Series

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>0                          모든면적
1                 전용면적 60제곱미터이하
2        전용면적 60제곱미터초과 85제곱미터이하
3       전용면적 85제곱미터초과 102제곱미터이하
4                전용면적 102제곱미터초과
                 ...           
6285                       모든면적
6286              전용면적 60제곱미터이하
6287     전용면적 60제곱미터초과 85제곱미터이하
6288    전용면적 85제곱미터초과 102제곱미터이하
6289             전용면적 102제곱미터초과
Name: 규모구분, Length: 6290, dtype: object</pre>

### 컬럼 추가

- 컬럼의 키로 접근 후 임의의 값을 대입하여 컬럼 추가

In [ ]:
# 코드를 입력해 주세요

In [ ]:
df.head()

### 컬럼 이름 변경

상세주소 -> 주소로 변경하기

In [ ]:
# 코드를 입력해 주세요

In [ ]:
df.head()

## 요약 정보 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre><class 'pandas.core.frame.DataFrame'>
RangeIndex: 6290 entries, 0 to 6289
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype  
---  ------  --------------  -----  
 0   지역명     6290 non-null   object 
 1   규모구분    6290 non-null   object 
 2   연도      6290 non-null   int64  
 3   월       6290 non-null   int64  
 4   분양가     5781 non-null   float64
 5   인기도     6290 non-null   int64  
dtypes: float64(1), int64(3), object(2)
memory usage: 295.0+ KB
</pre>

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>6290.0</td>
      <td>6290.0</td>
      <td>5781.0</td>
      <td>6290.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2018.3</td>
      <td>6.6</td>
      <td>3478.2</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.8</td>
      <td>3.5</td>
      <td>1421.1</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>2015.0</td>
      <td>1.0</td>
      <td>1868.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>2017.0</td>
      <td>4.0</td>
      <td>2583.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2018.0</td>
      <td>7.0</td>
      <td>3082.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2020.0</td>
      <td>10.0</td>
      <td>3931.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2021.0</td>
      <td>12.0</td>
      <td>13835.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>6290</td>
      <td>6290</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>17</td>
      <td>5</td>
    </tr>
    <tr>
      <th>top</th>
      <td>전남</td>
      <td>모든면적</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>370</td>
      <td>1258</td>
    </tr>
  </tbody>
</table>
</div>

## 컬럼별 분포 확인

In [ ]:
df.head()

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>모든면적                       1258
전용면적 102제곱미터초과             1258
전용면적 60제곱미터초과 85제곱미터이하     1258
전용면적 60제곱미터이하              1258
전용면적 85제곱미터초과 102제곱미터이하    1258
Name: 규모구분, dtype: int64</pre>

## 정렬

In [ ]:
df.head()

### Index 정렬

오름차순 정렬

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
      <td>5841.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>서울</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5652.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5882.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>서울</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5721.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>5879.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>6285</th>
      <td>제주</td>
      <td>모든면적</td>
      <td>2021</td>
      <td>11</td>
      <td>6860.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6286</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6287</th>
      <td>제주</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>6787.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6288</th>
      <td>제주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>5924.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6289</th>
      <td>제주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>6815.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>6290 rows × 6 columns</p>
</div>

내림차순 정렬

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6289</th>
      <td>제주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>6815.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6288</th>
      <td>제주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>5924.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6287</th>
      <td>제주</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>6787.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6286</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6285</th>
      <td>제주</td>
      <td>모든면적</td>
      <td>2021</td>
      <td>11</td>
      <td>6860.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>5879.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>서울</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5721.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5882.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>서울</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5652.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>0</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
      <td>5841.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>6290 rows × 6 columns</p>
</div>

### Value 정렬

월 기준으로 정렬

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5355</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2021</td>
      <td>1</td>
      <td>8566.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3338</th>
      <td>대구</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2019</td>
      <td>1</td>
      <td>4019.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3339</th>
      <td>대구</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2019</td>
      <td>1</td>
      <td>4067.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3340</th>
      <td>광주</td>
      <td>모든면적</td>
      <td>2019</td>
      <td>1</td>
      <td>3311.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3341</th>
      <td>광주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2019</td>
      <td>1</td>
      <td>3207.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2262</th>
      <td>충북</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2017</td>
      <td>12</td>
      <td>2076.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2261</th>
      <td>충북</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2017</td>
      <td>12</td>
      <td>2203.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2260</th>
      <td>충북</td>
      <td>모든면적</td>
      <td>2017</td>
      <td>12</td>
      <td>2077.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2258</th>
      <td>강원</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2017</td>
      <td>12</td>
      <td>2239.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2210</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2017</td>
      <td>12</td>
      <td>6706.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>6290 rows × 6 columns</p>
</div>

연도 기준으로 정렬 / 내림차순 정렬

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6289</th>
      <td>제주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>6815.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5662</th>
      <td>충북</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2021</td>
      <td>4</td>
      <td>2678.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5674</th>
      <td>전북</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>4</td>
      <td>2597.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5673</th>
      <td>전북</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>4</td>
      <td>2409.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5672</th>
      <td>전북</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2021</td>
      <td>4</td>
      <td>2627.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>166</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>165</th>
      <td>제주</td>
      <td>모든면적</td>
      <td>2015</td>
      <td>11</td>
      <td>2232.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>164</th>
      <td>경남</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>11</td>
      <td>3043.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>163</th>
      <td>경남</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>11</td>
      <td>2980.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>0</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
      <td>5841.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>6290 rows × 6 columns</p>
</div>

## 선택 (Selection)

### Column 이름으로 선택

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>0       서울
1       서울
2       서울
3       서울
4       서울
        ..
6285    제주
6286    제주
6287    제주
6288    제주
6289    제주
Name: 지역명, Length: 6290, dtype: object</pre>

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>0       2015
1       2015
2       2015
3       2015
4       2015
        ... 
6285    2021
6286    2021
6287    2021
6288    2021
6289    2021
Name: 연도, Length: 6290, dtype: int64</pre>

### Index 선택

슬라이싱

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5882.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>서울</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5721.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>5879.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>인천</td>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
      <td>3163.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

fancy indexing

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5882.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>5879.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>인천</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>3488.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

### label로 선택

In [ ]:
df.loc[:, ['지역명', '연도']]

컬럼 슬라이싱

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
    </tr>
    <tr>
      <th>5</th>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

### 조건 필터링

연도를 2018년 이상만 선택

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2295</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2018</td>
      <td>1</td>
      <td>6623.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2296</th>
      <td>서울</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>6898.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2297</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>5857.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2298</th>
      <td>서울</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>7478.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2299</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2018</td>
      <td>1</td>
      <td>6916.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>6285</th>
      <td>제주</td>
      <td>모든면적</td>
      <td>2021</td>
      <td>11</td>
      <td>6860.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6286</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6287</th>
      <td>제주</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>6787.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6288</th>
      <td>제주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>5924.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6289</th>
      <td>제주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>6815.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>3995 rows × 6 columns</p>
</div>

다중조건: 2018년 이상 2019년 이하 선택

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2295</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2018</td>
      <td>1</td>
      <td>6623.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2296</th>
      <td>서울</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>6898.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2297</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>5857.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2298</th>
      <td>서울</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>7478.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2299</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2018</td>
      <td>1</td>
      <td>6916.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>4330</th>
      <td>제주</td>
      <td>모든면적</td>
      <td>2019</td>
      <td>12</td>
      <td>3882.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4331</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2019</td>
      <td>12</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4332</th>
      <td>제주</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2019</td>
      <td>12</td>
      <td>3898.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4333</th>
      <td>제주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2019</td>
      <td>12</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4334</th>
      <td>제주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2019</td>
      <td>12</td>
      <td>3601.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>2040 rows × 6 columns</p>
</div>

다중조건: 2018년 이상 2019년 이하 선택, 대구지역만 선택

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2315</th>
      <td>대구</td>
      <td>모든면적</td>
      <td>2018</td>
      <td>1</td>
      <td>3585.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2316</th>
      <td>대구</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>3521.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2317</th>
      <td>대구</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>3587.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2318</th>
      <td>대구</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2018</td>
      <td>1</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2319</th>
      <td>대구</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2018</td>
      <td>1</td>
      <td>3543.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>4270</th>
      <td>대구</td>
      <td>모든면적</td>
      <td>2019</td>
      <td>12</td>
      <td>4372.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4271</th>
      <td>대구</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2019</td>
      <td>12</td>
      <td>4314.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4272</th>
      <td>대구</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2019</td>
      <td>12</td>
      <td>4367.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4273</th>
      <td>대구</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2019</td>
      <td>12</td>
      <td>4414.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4274</th>
      <td>대구</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2019</td>
      <td>12</td>
      <td>5130.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>120 rows × 6 columns</p>
</div>

### iloc을 활용한 인덱스 지정 선택

In [ ]:
df.head()

In [ ]:
df.iloc[2, 1]

In [ ]:
df.iloc[:5, [1, 3, 5]]

## Copy(복사)

In [ ]:
df.head()

In [ ]:
copy = df.copy()

In [ ]:
copy.head()

## 값 지정

In [ ]:
# 지역명 == 서울 인 지역만 선택
copy.loc[copy['지역명']=='서울','지역명']

In [ ]:
# 지역명 == 서울 인 지역을 Seoul로 변경(값을 set)
copy.loc[copy['지역명']=='서울','지역명'] = 'Seoul'

In [ ]:
copy.head()

## index 초기화 : reset_index()

In [ ]:
df.sort_values('연도').reset_index()

In [ ]:
df.sort_values('연도').reset_index(drop=True)

## 빈 데이터 처리

In [ ]:
df1 = df.copy()
df1

### 결측치 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>지역명       0
규모구분      0
연도        0
월         0
분양가     509
인기도       0
dtype: int64</pre>

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>28</th>
      <td>광주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>광주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>대전</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>81</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>113</th>
      <td>광주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>6238</th>
      <td>대전</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6239</th>
      <td>대전</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6244</th>
      <td>울산</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6273</th>
      <td>전남</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6286</th>
      <td>제주</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>NaN</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>509 rows × 6 columns</p>
</div>

### NaN 값이 있는 행을 제거

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역명</th>
      <th>규모구분</th>
      <th>연도</th>
      <th>월</th>
      <th>분양가</th>
      <th>인기도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>서울</td>
      <td>모든면적</td>
      <td>2015</td>
      <td>10</td>
      <td>5841.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>서울</td>
      <td>전용면적 60제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5652.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>서울</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5882.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>서울</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2015</td>
      <td>10</td>
      <td>5721.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>서울</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2015</td>
      <td>10</td>
      <td>5879.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>6284</th>
      <td>경남</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>3476.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6285</th>
      <td>제주</td>
      <td>모든면적</td>
      <td>2021</td>
      <td>11</td>
      <td>6860.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6287</th>
      <td>제주</td>
      <td>전용면적 60제곱미터초과 85제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>6787.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6288</th>
      <td>제주</td>
      <td>전용면적 85제곱미터초과 102제곱미터이하</td>
      <td>2021</td>
      <td>11</td>
      <td>5924.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6289</th>
      <td>제주</td>
      <td>전용면적 102제곱미터초과</td>
      <td>2021</td>
      <td>11</td>
      <td>6815.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5781 rows × 6 columns</p>
</div>

### 결측치 채우기

In [ ]:
df1 = df.copy()
df1

In [ ]:
df1.fillna(0)

## 연산 (Operation)

In [ ]:
df.head()

### 평균

전체 평균

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>연도    2018.3
월        6.6
분양가   3478.2
인기도      0.0
dtype: float64</pre>

분양가 컬럼 평균

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>3478.249437813527</pre>

### 합계

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>20107760.0</pre>

### 누적 합계

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>0          5841.0
1         11493.0
2         17375.0
3         23096.0
4         28975.0
          ...    
6285   20088234.0
6286          NaN
6287   20095021.0
6288   20100945.0
6289   20107760.0
Name: 분양가, Length: 6290, dtype: float64</pre>

### 분산 / 표준편차

![](https://3.bp.blogspot.com/-UdMtlS5PefU/WD-2ISkTGDI/AAAAAAAB3Dk/ag14lg1EsJ0UAVMxITybXmy6Z6QcaoO_gCLcB/s1600/%25EA%25B7%25B8%25EB%25A6%25BC1.png)

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>2019517.2568011545</pre>

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>1421.0972017427782</pre>

### 다중 통계

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>mean    3478.2
count   5781.0
Name: 분양가, dtype: float64</pre>

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>분양가</th>
      <th>연도</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>mean</th>
      <td>3478.2</td>
      <td>2018.3</td>
    </tr>
    <tr>
      <th>count</th>
      <td>5781.0</td>
      <td>6290.0</td>
    </tr>
  </tbody>
</table>
</div>

## apply

In [ ]:
df['규모구분'].value_counts()

In [ ]:
# 코드를 입력해 주세요

In [ ]:
df['규모구분'].value_counts()

## 그룹화(groupby)

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>분양가</th>
    </tr>
    <tr>
      <th>규모구분</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>102m2 초과</th>
      <td>3724.8</td>
    </tr>
    <tr>
      <th>60m2 이하</th>
      <td>3363.0</td>
    </tr>
    <tr>
      <th>60~85m2</th>
      <td>3361.1</td>
    </tr>
    <tr>
      <th>85~102m2</th>
      <td>3621.9</td>
    </tr>
    <tr>
      <th>모든면적</th>
      <td>3366.9</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>분양가</th>
    </tr>
    <tr>
      <th>규모구분</th>
      <th>연도</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="7" valign="top">102m2 초과</th>
      <th>2015</th>
      <td>2981.0</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>3148.1</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>3427.6</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>3468.4</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>4039.9</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>4263.2</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>4363.7</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">60m2 이하</th>
      <th>2015</th>
      <td>2712.6</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>2848.1</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>3112.5</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>3286.2</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>3486.9</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>3757.8</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>3924.7</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">60~85m2</th>
      <th>2015</th>
      <td>2694.5</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>2817.0</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>2982.0</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>3227.5</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>3538.5</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>3735.6</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>4118.4</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">85~102m2</th>
      <th>2015</th>
      <td>2884.4</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>3067.4</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>3204.1</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>3467.2</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>3933.5</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>4472.6</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>4064.1</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">모든면적</th>
      <th>2015</th>
      <td>2694.9</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>2816.1</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>3008.3</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>3235.1</td>
    </tr>
    <tr>
      <th>2019</th>
      <td>3516.0</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>3732.6</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>4142.2</td>
    </tr>
  </tbody>
</table>
</div>

## 피벗 테이블

In [ ]:
df.pivot_table(index=['연도','지역명'], columns=['월'], values='분양가')

## 데이터 합치기 (Data Merge)

In [ ]:
gas1 = pd.read_csv('data/gas_first_2019.csv', encoding='euc-kr')
gas2 = pd.read_csv('data/gas_second_2019.csv', encoding='euc-kr')

In [ ]:
gas1.head()

In [ ]:
gas2.head()

### 행방향 연결

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>번호</th>
      <th>지역</th>
      <th>상호</th>
      <th>주소</th>
      <th>기간</th>
      <th>상표</th>
      <th>셀프여부</th>
      <th>고급휘발유</th>
      <th>휘발유</th>
      <th>경유</th>
      <th>실내등유</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A0006039</td>
      <td>서울 강남구</td>
      <td>(주)동하힐탑셀프주유소</td>
      <td>서울 강남구 논현로 640</td>
      <td>20190101</td>
      <td>SK에너지</td>
      <td>셀프</td>
      <td>1673</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A0006039</td>
      <td>서울 강남구</td>
      <td>(주)동하힐탑셀프주유소</td>
      <td>서울 강남구 논현로 640</td>
      <td>20190102</td>
      <td>SK에너지</td>
      <td>셀프</td>
      <td>1673</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A0006039</td>
      <td>서울 강남구</td>
      <td>(주)동하힐탑셀프주유소</td>
      <td>서울 강남구 논현로 640</td>
      <td>20190103</td>
      <td>SK에너지</td>
      <td>셀프</td>
      <td>1673</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>A0006039</td>
      <td>서울 강남구</td>
      <td>(주)동하힐탑셀프주유소</td>
      <td>서울 강남구 논현로 640</td>
      <td>20190104</td>
      <td>SK에너지</td>
      <td>셀프</td>
      <td>1673</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>A0006039</td>
      <td>서울 강남구</td>
      <td>(주)동하힐탑셀프주유소</td>
      <td>서울 강남구 논현로 640</td>
      <td>20190105</td>
      <td>SK에너지</td>
      <td>셀프</td>
      <td>1673</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>181709</th>
      <td>A0032659</td>
      <td>서울 중랑구</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>서울 중랑구 망우로 475</td>
      <td>20191227</td>
      <td>GS칼텍스</td>
      <td>셀프</td>
      <td>0</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>181710</th>
      <td>A0032659</td>
      <td>서울 중랑구</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>서울 중랑구 망우로 475</td>
      <td>20191228</td>
      <td>GS칼텍스</td>
      <td>셀프</td>
      <td>0</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>181711</th>
      <td>A0032659</td>
      <td>서울 중랑구</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>서울 중랑구 망우로 475</td>
      <td>20191229</td>
      <td>GS칼텍스</td>
      <td>셀프</td>
      <td>0</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>181712</th>
      <td>A0032659</td>
      <td>서울 중랑구</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>서울 중랑구 망우로 475</td>
      <td>20191230</td>
      <td>GS칼텍스</td>
      <td>셀프</td>
      <td>0</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>181713</th>
      <td>A0032659</td>
      <td>서울 중랑구</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>서울 중랑구 망우로 475</td>
      <td>20191231</td>
      <td>GS칼텍스</td>
      <td>셀프</td>
      <td>0</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
    </tr>
  </tbody>
</table>
<p>181714 rows × 11 columns</p>
</div>

### 연결하려는 DataFrame의 컬럼 순서와 개수가 맞지 않는 경우

In [ ]:
gas1_copy = gas1.copy()

In [ ]:
gas1_copy = gas1_copy[['지역', '기간', '주소', '셀프여부', '상표', '휘발유', '경유', '실내등유']]

In [ ]:
gas1_copy.head(3)

In [ ]:
gas2.head(3)

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>지역</th>
      <th>기간</th>
      <th>주소</th>
      <th>셀프여부</th>
      <th>상표</th>
      <th>휘발유</th>
      <th>경유</th>
      <th>실내등유</th>
      <th>번호</th>
      <th>상호</th>
      <th>고급휘발유</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>서울 강남구</td>
      <td>20190101</td>
      <td>서울 강남구 논현로 640</td>
      <td>셀프</td>
      <td>SK에너지</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>서울 강남구</td>
      <td>20190102</td>
      <td>서울 강남구 논현로 640</td>
      <td>셀프</td>
      <td>SK에너지</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>서울 강남구</td>
      <td>20190103</td>
      <td>서울 강남구 논현로 640</td>
      <td>셀프</td>
      <td>SK에너지</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>서울 강남구</td>
      <td>20190104</td>
      <td>서울 강남구 논현로 640</td>
      <td>셀프</td>
      <td>SK에너지</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>서울 강남구</td>
      <td>20190105</td>
      <td>서울 강남구 논현로 640</td>
      <td>셀프</td>
      <td>SK에너지</td>
      <td>1465</td>
      <td>1365</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>181709</th>
      <td>서울 중랑구</td>
      <td>20191227</td>
      <td>서울 중랑구 망우로 475</td>
      <td>셀프</td>
      <td>GS칼텍스</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
      <td>A0032659</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>181710</th>
      <td>서울 중랑구</td>
      <td>20191228</td>
      <td>서울 중랑구 망우로 475</td>
      <td>셀프</td>
      <td>GS칼텍스</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
      <td>A0032659</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>181711</th>
      <td>서울 중랑구</td>
      <td>20191229</td>
      <td>서울 중랑구 망우로 475</td>
      <td>셀프</td>
      <td>GS칼텍스</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
      <td>A0032659</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>181712</th>
      <td>서울 중랑구</td>
      <td>20191230</td>
      <td>서울 중랑구 망우로 475</td>
      <td>셀프</td>
      <td>GS칼텍스</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
      <td>A0032659</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>181713</th>
      <td>서울 중랑구</td>
      <td>20191231</td>
      <td>서울 중랑구 망우로 475</td>
      <td>셀프</td>
      <td>GS칼텍스</td>
      <td>1540</td>
      <td>1389</td>
      <td>1100</td>
      <td>A0032659</td>
      <td>지에스칼텍스㈜ 소망주유소</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>181714 rows × 11 columns</p>
</div>

### 열 방향으로 연결

In [ ]:
gas1 = gas.iloc[:, :5]
gas2 = gas.iloc[:, 5:]

In [ ]:
gas1.head()

In [ ]:
gas2.head()

In [ ]:
pd.concat([gas1, gas2], axis=1)

## merge() - 병합

서로 **다른 구성의 DataFrame이지만, 공통된 key값(컬럼)을 가지고 있다면 병합**할 수 있습니다.

In [ ]:
df1 = pd.DataFrame({
    '고객명': ['박세리', '이대호', '손흥민', '김연아', '마이클조던'],
    '생년월일': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    '성별': ['여자', '남자', '남자', '여자', '남자']})
df1

In [ ]:
df2 = pd.DataFrame({
    '고객명': ['김연아', '박세리', '손흥민', '이대호', '타이거우즈'],
    '연봉': ['2000원', '3000원', '1500원', '2500원', '3500원']})
df2

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>고객명</th>
      <th>생년월일</th>
      <th>성별</th>
      <th>연봉</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>박세리</td>
      <td>1980-01-02</td>
      <td>여자</td>
      <td>3000원</td>
    </tr>
    <tr>
      <th>1</th>
      <td>이대호</td>
      <td>1982-02-22</td>
      <td>남자</td>
      <td>2500원</td>
    </tr>
    <tr>
      <th>2</th>
      <td>손흥민</td>
      <td>1993-06-12</td>
      <td>남자</td>
      <td>1500원</td>
    </tr>
    <tr>
      <th>3</th>
      <td>김연아</td>
      <td>1988-10-16</td>
      <td>여자</td>
      <td>2000원</td>
    </tr>
  </tbody>
</table>
</div>

### 병합하는 방법 4가지

`how` 옵션 값을 지정하여 4가지 방식으로 병합을 할 수 있으며, 각기 다른 결과를 냅니다.

- **how** : {`left`, `right`, `outer`, `inner`}, 
- **default**로 설정된 값은`inner` 입니다.

In [ ]:
# how='inner' 입니다.
pd.merge(df1, df2)

In [ ]:
# how='inner' 입니다.
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, how='right')

In [ ]:
pd.merge(df1, df2, how='outer')

### 병합하려는 컬럼의 이름이 다른 경우

In [ ]:
df1 = pd.DataFrame({
    '이름': ['박세리', '이대호', '손흥민', '김연아', '마이클조던'],
    '생년월일': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    '성별': ['여자', '남자', '남자', '여자', '남자']})
df1

In [ ]:
df2 = pd.DataFrame({
    '고객명': ['김연아', '박세리', '손흥민', '이대호', '타이거우즈'],
    '연봉': ['2000원', '3000원', '1500원', '2500원', '3500원']})
df2

`left_on`가 `right_on`을 지정합니다. 

이름과 고객명 컬럼이 모두 drop되지 않고 살아 있음을 확인합니다.

In [ ]:
pd.merge(df1, df2, left_on='이름', right_on='고객명')